@media (max-width:1000px){
    .map{
        width: 100%;
        height: 300px;
    }
}
@media (max-width:860px){
    .map{
        width: 100%;
        height: 300px;
    }
}
@media (max-width:550px){
    .map{
        width: 100%;
        height: 300px;
    }
}
@media (max-width:500px){
    .map{
        width: 100%;
        height: 200px;
    }
}